h1{
    color:purple;
}
h3{
    color: blueviolet;
}
.one{
    background-color: black;
    padding: 15;
    text-align: center;
}.two
{
    background-color: gray;
    margin: 20;
}.four
{
    background-color: black;
    color: white;
}.three
{
    color: white;
}